.DS_Store
node_modules

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# cordova assets file
CordovaWrapper/www/
CordovaWrapper/platforms/android/app/src/main/assets/www/
CordovaWrapper/platforms/ios/www/

CordovaWrapper/platforms/android/.gradle
CordovaWrapper/platforms/android/.idea
CordovaWrapper/platforms/android/build
CordovaWrapper/platforms/android/android.iml
CordovaWrapper/platforms/android/local.properties
CordovaWrapper/platforms/android/CordovaLib/build/
CordovaWrapper/platforms/android/CordovaLib/CordovaLib.iml
CordovaWrapper/platforms/android/app/app.iml
CordovaWrapper/platforms/android/app/build/

CordovaWrapper/platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/
CordovaWrapper/platforms/ios/Journey.xcworkspace/xcshareddata/
CordovaWrapper/platforms/ios/Journey.xcworkspace/xcuserdata/
