/*主题颜色*/
$qian-lan: #2192F5;
$hui-bai: #F8F8F8;
$qian-hui: #EEEEEE;
$shen-hui: #DADADA;
$hui-hei: #6D6D6D;
$hei: #000000;

/*主题宽高*/
$left-width: 200px;
$right-width: 250px;
$center-width: 700px;
$total-width: 1170px;
$blog-item-height: 120px;
$blog-item-image-width: 175px;
$blog-item-intro-width: 490px;
