/*主题颜色*/
$qian-lan: #2192f5;
$hui-bai: #f8f8f8;
$qian-hui-2: #fafbfc;
$qian-hui: #eeeeee;
$shen-hui: #dadada;
$hui-hei: #6d6d6d;
$hei: #000000;

/*主题宽高*/
$left-width: 200px;
$right-width: 250px;
$center-width: 850px; // 调整宽度需要调整SwiperBanner中的setStyle方法的值
$total-width: $left-width + $right-width + $center-width + 20px; // 20是中间center部位的两侧margin
$blog-item-height: 120px;
$blog-item-image-width: 175px;
$blog-item-intro-width: 490px;

/*字体大小*/
$super-large-size: 20px;
$large-size: 18px;
$mediu-large-size: 16px;
$mediu-size: 14px;
$mediu-small-size: 12px;
$small-size: 10px;
$super-small-size: 8px;
